
/* COLOURS */
:root{
    --primary:#247cff;
    --second:#010373;
    --white : #eafaff;
    --light:#9ab3fa;

}

*{
    font-family: "Rubik", sans-serif;
    text-decoration: none;
}

html {
  scroll-behavior: smooth; /* Efek smooth */
}


.boldonse{
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;
  }

  .navbar{
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: var(--primary) ;
    height: 100;
    top: 0px;
    left: 0px;
    padding: 10px;
  }

  .navbar-menu{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
  }

  .item1 a{
    font-size:30px;
    font-style: italic;
    color: var(--white)
  }

  .item1 span{
    font-size:20px;
    font-family: "Boldonse", system-ui;
    font-weight: 400px;
  }

  .item2 ul{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    margin-right: 1rem;
  }

  .item2 ul li{
    display: flex;
    margin: 0 2rem;
  }

  .item2 ul li a{
    color: var(--white);
  }
  
  .item2 ul li a:hover {
    transition: 400ms;
    color: var(--second);
  }

  /* PROFILE */

  .space-judul{
    width: 100%;
    align-self: center;
    align-items: center;
    padding: 1rem 1rem;
    justify-content: center;
  }

  .judul{
    font-size: 4rem;
    font-weight: 900px;
    font-family: "Rubik", sans-serif;
    text-align: center;
    color: var(--second);
  }

  .subjudul{
    margin-top: -20px;
    font-size: 1.5rem;
    font-weight: 400px;
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-bottom: 5rem;
    color: var(--primary);
  }


  .box2{
    background-color: #ff3acf;
    margin: 2rem;
  }

  .detail-profile{
    align-items: center;
    background-color: var(--light);
    margin-top: -120px;
    width: 100% ;
    padding: 4rem 1rem;
    margin-left: -20px;
  }

  .detail-profile-text{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

  }

  .detail-profile-text li{
    background-color: var(--second);
    width: 100%;
    padding: 0.7rem;
    list-style: none;
    margin: 0.4rem;
    font-size: medium;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: var(--white);
    border-radius: 100px;
  }

  .ket li{
    padding: 0 4rem;
    background-color: var(--second);
    width: 50%;
    padding: 0.7rem 4rem;
    list-style: none;
    margin: 0.4rem;
    margin-right: 8rem;
    font-size: medium;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: var(--white); 
    border-radius: 100px;
    font-size: 30px;
  }

  .text li{
    padding: 0 4rem;
    background-color: var(--second);
    width: 80%;
    padding: 0.7rem 4rem;
    list-style: none;
    margin: 0.4rem;
    margin-right: 14rem;
    font-size: medium;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: var(--white); 
    border-radius: 100px;
    font-size: 30px;
  }

  .profile{
    padding-top: 100px;
  }


  .page-profile h2{
    font-size: 60px;
    margin: auto;
    margin-top: 100px;
  }
  
  .page-profile h1{
    font-size: 100px;
    margin: auto;
  }

  .page-profile p{
    font-size: 30px;
    font-style: italic;
    margin-bottom: 4rem;
  }


  .img-profile{
    height: auto;
    width: auto;
  }

  .img-profile img{
    height: auto;
    width : 70%;
  }

  .hero-section{
    margin-bottom: -100px;
  }

  .kemasprofil{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;
  }
  
  .btn {
    display: inline block;
    width: fit-content;
    padding: 1rem 6rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var(--light);
    background-color: var(--primary);
    font-weight: 600;
    text-align: center;
    transition: all 0.5s;
    margin-left: 1rem;
  }
  .btn:hover{
    background-color: var(--white);
    color:var(--second);
  }

  /* STUDY */
  .page-school{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 3rem;
    /* max-width: 1500px; */
  }
  
  .school{
    background-color: var(--primary);
    width: 650px;
    height: 600px;
    margin: 2rem;
    /* margin-bottom: 4rem; */
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 1px 10px;
  }

  .img-school{
    width: 90%;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
  
  .img-in-school{
    width: 100%;
    border: var(--light);
    border-radius: 1rem;
  }

  .text-school{
    justify-content: center;
    text-align: center;
  }
 
  .text-school h1{
    font-size: x-large;
    color: var(--white);
  }

  .text-school h3{
    font-size: medium;
    color: var(--light);
  }

  /* EXPERIENCE PAGE */
  #experience{
    margin-top: 4rem;
    background-color: var(--second);
    width: auto;
    height: 2000px;
  }

  .judul-exper{
    padding-top: 4rem;
  }
  .judul-exper .judul{
    padding-top: 4rem;
    color: var(--white);
    font-size: 4rem;
  }
  .judul-exper .subjudul{
    color: var(--light);
  }

  .page-exper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 3rem;
  }

  .exper{
    width: 25%;
    background-color: var(--primary);
    height: 550px;
    margin: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    transition: transform 0.3s ease-in-out; /* Efek hover */

  }

  .exper:hover{
    transform: translateY(-10px); /* Animasi ketika hover */
    background-color: var(--light);
    transition: 300ms;
  }
  
  .exper:hover h1{
    color: var(--second);
    transition: 300ms;
  }
  
  .exper:hover p{
    color: var(--primary);
    transition: 300ms;
  }
  
  .img-exper{
    width: 100%;  /* Sesuaikan lebar */
    max-width: 800px; /* Maksimum ukuran gambar */
    aspect-ratio: 16 / 9; /* Atur rasio 16:9 */
    overflow: hidden; /* Mencegah overflow */
  }

  .exper img{
    /* aspect-ratio: 16 / 9; */
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .exper h1{
    color: var(--white);
  }

  .exper p{
    color: var(--light);
    font-weight: 500;
  }